/* The setting for picture list on "about" page*/
.pics{
  background-color: rgb(237,223,214);
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px; 
	
}

.pics img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto ;
}


/* The responsive setting for picture list */
@media (max-width: 1200px) {
  .pics {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .pics {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .pics {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .pics {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
